
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4 pb-2">
        <h1 class="col-6 text-primary text-capitalize">Orders List</h1>
        <div class="col-6 text-end">
            
        </div>
    </div>


    <table class="table table-bordered table-striped w-100" id="productsTable">
        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Total</th>

                <th></th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts{
    <script src="~/js//Order.js"></script>
}