@model CoverType
@{
    ViewData["Title"] = "Edit Cover";
}


<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit Cover Type</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger fs-6"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" asp-controller="CoverType" class="btn btn-dark">Back to list</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }